<%= render "/layouts/nav"%>
<div class = "container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-error">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
  <h1>Potential Leads</h1>

  <!-- http://railscasts.com/episodes/382-tagging?view=asciicast -->

<div class = "list_wrap">
  <% @questions.each do |question|%>
    <div class="list_bg">
      <p>Question: <%= question.description%></p>
      <p>Tags: <%= raw question.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')%></p>
      <p>City: <%= question.city%></p>
      <p>Phone: 
        <% if question.phone? %>
          Available
        <%else%>
          Unavailable
        <%end%>
      </p>
      <p>Email: <% if question.email? %>
          Available
        <%else%>
          Unavailable
        <%end%>
      </p>
        <% @purchased = false%>
        <% if current_user.questions == nil %>
          <div class="lead_button"><button class="btn btn-success"><%= link_to "Purchase Lead!", question_path(question)%></button></div>
        <%else%>
          <%current_user.questions.each do |user_question|%>
            <% if user_question.id == question.id%>
                <%@purchased = true%>              
            <%end%>
          <%end%>

          <% if @purchased == true%>
            <div class="lead_button"><button class="btn btn-danger"><%= link_to "Already Purchased!", question_path(question)%></button></div>
          <% else %>
            <div class="lead_button"><button class="btn btn-success"><%= link_to "Purchase Lead!", question_path(question)%></button></div>

          <%end%>
        <%end%>
    </div>
    <br/>
  <%end%>
</div>


<div id="tag_cloud">
  <div class = "tagsinput">
    <% tag_cloud Question.tag_counts, %w{s m l} do |tag, css_class| %>
      <span class="tag"><%= link_to tag.name, tag_path(tag.name), class: css_class %></span>
    <%end%>
      <span class="tag"><%= link_to "All Leads", questions_path%></span>
  </div>
</div>

<div class="live_update">
    
</div>

  <%= paginate @questions %>
</div>