<h1>Ask a Question! </h1>

<%= form_for @question do |f| %>
<p class = "span4">
  <%= f.label "Ask a Question!" %>
  <%= f.text_area :description, :rows => "8" %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

    <%= f.submit 'Submit Question', :class => 'btn btn-large btn-primary' %>




<% end %>