<% check = false%>
  
  <%@question.users.each do |user|%>
    <% if user.id == current_user.id%>
      <% check = true%>
    <%end%>
  <%end%>


<%= render "/layouts/nav"%>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-error">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
<div class="purchase_group">
  <h3>Purchase Question</h3>
  <p><strong>Question: </strong> <%= @question.description %> </p>
      <% if check == true%>
        <p><strong>Name: </strong> <%= @question.name %> </p>
        <p><strong>Phone: </strong> <%= @question.phone %> </p>
        <p><strong>Email: </strong> <%= @question.email %> </p>
      <%else%>
        <p><strong>Name: </strong> <%=@question.name %> </p>
        <p><strong>Phone: </strong> 
          <% if @question.phone? %> 
            Available
          <%else%>
            Unavailable
          <%end%>
        </p>
        <p><strong>Email: </strong> 
          <% if @question.email? %>
            Available
          <%else%>
            Unavailable 
          <%end%>
        </p>
        <button class="btn btn-primary"><%= link_to "Purchase", question_payments_create_path(@question), :method => :post %></button>
      <%end%>
<br/>



</div>