<h3>Question</h3>
<%= @question.description %>

<h3>name</h3>
<%= @question.name %>

<h3>phone</h3>
<%= @question.phone %>

<h3>email</h3>
<%= @question.email %>

<button><%= link_to "Purchase", question_payments_create_path(@question), :method => :post %></button>