<div class="login-group">
  <h1>Log in</h1>
  <%= form_tag sessions_path do %>


    <div class="field span4">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field span4">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="field span4 form-inline">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </div>
    
    <div class="actions span4"><%= submit_tag "Log in", :class=>"btn btn-submit" %></div>
  <%end%>
</div>
