<div class="login-group">
  <h1>Register</h1>

  <%= form_for @user, :url => {:action => :create} do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field span4">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field span4">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="field span4">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="actions span4"><%= f.submit "Register", :class=>"btn btn-submit" %></div>
  <% end %>
</div>