<h1>My Leads</h1>
<%= paginate(@user_questions)%>
<% @user_questions.each do |q| %>

<p>Description:
  <%= q.description%></p>
<p>name:
  <%= q.name%></p>
<p>phone:
  <%= q.phone%></p>
<p>email:
  <%= q.email%></p>
  <p>city:
    <%= q.city%></p>
  </p>
<%end%>

<!-- http://stackoverflow.com/questions/10305900/rails-3-pagination-with-kaminari-show-action-of-one-controller-to-browse-re -->