<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="brand">LeadGen</li>
      <li><%= link_to "Potential Leads", questions_path%></li>
      <li><%= link_to "My Leads", user_path(current_user)%> </li>

    </ul>
    <ul class="nav pull-right">
      <li><a>Account Balance: $<%= current_user.balance%></a></li>
      <li class="active"><%= link_to "Add Money to Account", edit_user_path(current_user)%></li>
      <li><a> Logged in as <%= current_user.email %></a></li>
      <li>  <%= link_to "Log out", logout_path %></li>
    </ul>
  </div>
</div>