<!DOCTYPE html>
<html>
<head>
  <title>Leadgen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Pusher -->
  
  <%= csrf_meta_tags %>
</head>
<body>


<!-- <div class = "container">
 -->    <%= yield %>
<!-- </div> -->
<%= render "/layouts/nav"%>
</body>
</html>
